/* MITCHELL PATTERSON */



/* BASE STYLES
======================================================== */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Prociono;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}


/* TYPOGRAPHY
======================================================== */
h1 {
    font-family: Calistoga;
    font-size: 40px;
    color: white;
    letter-spacing: 50px;
    padding-left: 40px;
    padding-right: 40px;
    display: none;
}

h2 {
    font-family: Prociono;
    font-size: 24px;
    color: white;
    letter-spacing: 6px;
    padding-bottom: 40px;
    position: relative;
}

h2:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 9px;
    top: 12px;
    margin-left: 12px;
    border-top: 2px solid;
    border-bottom: 1px solid;
}

h3 {
    font-family: Prociono;
    font-size: 24px;
    color: white;
    letter-spacing: 6px;
}

h4 {
    font-family: Prociono;
    font-size: 14px;
    color: white;
    letter-spacing: 5px;
}

h5 {
    font-family: Calistoga;
    font-size: 18px;
    letter-spacing: 5px;
    color: white;
}

h6 {
    font-family: Calistoga;
    font-size: 32px;
    letter-spacing: 5px;
    color: white;
}

p {
    font-family: Prociono;
    font-size: 18px;
    color: white;
    letter-spacing: 5px;
    font-weight: lighter;
}

b {
    font-family: Prociono;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
    font-weight: lighter;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* HEADER
======================================================== */
header {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    max-width: 200px;
    height: auto;
}




/* GALLERY
======================================================== */
main {
    padding: 16px;
    margin: 0 auto;
    max-width: 1400px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    row-gap: 70px;
    column-gap: 10px;
    justify-items: center;
}

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 170px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100px;
    height: 170px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner:not(.flipped),
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100px;
    height: 170px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {}

.flip-card-back {
    transform: rotateY(180deg);
}

.footer-before-space {
    max-width: 100%;
    min-height: 160px;
}





/* FOOTER
======================================================== */
.footer {  
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid white;
}

.column {
    flex: 1;
    text-align: center;
}

.Footer-logo {
    flex: 2;
    max-width: 150px;
    display: none;
    padding: 16px;
}





/* NAV
======================================================== */
.navbar {
    position: fixed;
    left: 0;
    top: 345px;
    height: 100%;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 40px;
    display: none;
}

.nav-item {
    padding: 10px 20px;
    text-align: left;
}

.nav-item-a {
    padding-top: 16px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: white;
}




/* OVERLAY
======================================================== */
.detail-images {
    display: none;
}

.detail-info {
    display: none;
}

.overlay {
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    color: white;
    transform: translateY(-100vh);
    opacity: 0%;
    transition: all 0.3s;
}

.overlay-active,
.overflow-hidden {
    overflow-y: hidden;
    overscroll-behavior: contain;
}

.overlay-active .overlay {
    transform: translateY(0);
    opacity: 100%;
}

.close-overlay {
    font-size: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
    line-height: 100%;
    font-family: Prociono;
    cursor: pointer;
}

.overlay-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 80px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 40px;
}




/* MEDIA QUERIES
======================================================== */

@media (min-width: 460px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .flip-card,
    .flip-card-inner,
    .flip-card-front,
    .flip-card-back {
        width: 150px;
        height: 255px;
    }
}

@media (min-width: 800px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .flip-card,
    .flip-card-inner,
    .flip-card-front,
    .flip-card-back {
        width: 200px;
        height: 340px;
    }
}


@media (min-width: 1080px) {
    .navbar {
        display: flex;
    }

    main {
        padding-left: 275px;
    }

    h1 {
        display: block;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        padding-left: 160px;
        padding-right: 160px;
    }

    .Footer-logo {
        display: block;
        min-width: 100px;
    }

    .overlay-content {
        grid-template-columns: 1fr 1fr;
    }

}